/* 
mobile portrait: less than 640px
mobile landscape: > 640px
tablet portrait: > 768px
tablet landscape: > 1024px
laptop: > 1280px 
*/

@media (min-width: 1024px) {
  .carousel .slide img {
    height: 680px;
    object-fit: cover;
  }
  .carousel .slider-wrapper,
  .carousel .slide {
    height: 680px;
  }
}
