@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Raleway Italic";
  src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf");
}
